export(aux.effect, causal.effect, exclusion.restrictions, generalize, get.expression, meta.transport, parse.graphml, recover, transport, verma.constraints)
import(igraph,XML)
importFrom(ggm,dSep,powerset)